body {
    background-color: #eee;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    font-family: 'Roboto', arial, sans-serif
}
header {
    grid-column: 1 / 3;
    padding: 15px;
    text-align: center;
    background: linear-gradient(90deg, #C850C0 0%, #FFCC70 100%);
    width: 100%;
    box-sizing: border-box;
    ALIGN-SELF: baseline;
    border-bottom: 2px solid #111;
}
header h1 {
    font-size: 32px;
    font-weight: 500;
    color: #111;
}

.container-imc, .container-tmb {
    width: 50%;
    max-width: 650px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #eee;
    padding: 70px;
    border-radius: 25px;
}
.container-imc > .data-input {
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
}
.container-tmb > .data-input {
    display: flex;
    flex-direction: column;
}
.data-input > input {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #eee;
    margin: 10px 0px;
}
.data-input > button {
    background-color: #C850C0;
    width: 110px;
    padding: 3px;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.2s;
}
#resultado-imc {
    margin: 0px;
    height: 20px;
}
.data-input > button:hover {
    transition: 0.2s;
    background-color: #FFCC70;
}

.input-cne{
    text-align: center;
    padding-top: 10px;
}
.input-cne input {
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    border: none;
}
.input-cne select {
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    border: none;
}
.idade-sexo{
    margin:15px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.idade {
    display: flex;
    flex-direction: column;
    width: 120px;
    margin-bottom: 10px;
}
.sexo {
    width: 120px;
    margin-bottom: 10px;
}
.opcoes-sexo {
    display: flex;
    flex-direction: column;
}
.peso-altura{
    margin:15px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.peso {
    display: flex;
    flex-direction: column;
    width: 120px;
    margin-bottom: 10px;
}
.altura {
    display: flex;
    flex-direction: column;
    width: 120px;
    margin-bottom: 10px;
}
.atividade {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
#botao-cne {
    align-self: flex-end;
    background-color: #C850C0;
    width: 110px;
    padding: 3px;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.2s;
}
#botao-cne:hover {
    transition: 0.2s;
    background-color: #FFCC70;
}
.input-cne h3 {
    text-align: left;
}
#resultado-cne {
    margin: 0px;
    height: 20px;
}
footer {
    grid-column: 1/ 3;
    border-bottom: 2px solid #000;
    align-self: end;
    margin: 2px 15px;
    text-align: center;
}
footer p {
    margin: 0px;
}
@media (max-width:850px) { 
    body {
        grid-template-columns: none;
    }
    header {
        grid-column: auto;
    }
    footer {
        grid-column: auto;
    }
    .container-imc, .container-tmb {
        margin: 30px;
        padding: 50px;
    }
}
@media (max-width:550px) {
    .container-imc, .container-tmb {
        width: 75%;
        padding: 40px;
    }
}